/* COMMON */
body{
    color: #333;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    font-family: 'Nanum Gothic', sans-serif;
    box-sizing: border-box;
  }
  img{
    display:block;
    /* vertical-align: top; */
  }
  a{
    text-decoration: none;
    color: inherit;
  }
  ul{
      list-style: none;
  }
  /* .clear:after {
    display: block;
    content: '';
    clear: both;
  } */





#wrap .pageSoft{
    height: 100vh;
    /* 아래는 구분하려고 넣은 속성들 */
    border-top: 3px solid #000;
}
.gnb li.on{
    /* js로 추가되는 클래스 */
    color: #fbd20c;
}

/* HEADER */
/* z-index 1~5 */
#header {
    width: 100%;
    height: 10vh;
    position: fixed;
    z-index: 10;
    border: 1px solid #333;
}
#header .gnb{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 0; bottom: 0; right:0; margin: auto;
}
#header .gnb li {
    font-size: 1.2vw;
    font-weight: bold;
    width: 10vw;
    position: relative;
}
#header .gnb li a{
    position: relative;
    z-index: 5;
}
#header .gnb li span {
    width: 5vw;
    height: 7px;
    background-color: #fbd20c;
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
#header .gnb li:nth-child(3) span {width:5.4vw} 
#header .gnb li:nth-child(4) span {width:6.2vw} 
#header .gnb li:hover span {display: block;}
#header .gnb li .sub{
    margin-top: 16px;
    width: 10vw;
    height: 133px;
    background-color: #fbd20c;
    border-radius: 10px;
    display: none;
    position: absolute;
    top: 70%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
#header .gnb li:nth-child(3):hover .sub{display: block;}
#header .gnb li:nth-child(3) .sub p {
    display: block;
    width: 10vw; height: 15px;
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translateX(-50%);
}
#header .gnb li:nth-child(3) p img {
    /* 말풍선 쪼꼬미 삼각형 이미지 */
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
}
#header .gnb li .sub li {
    padding: 12px 0px;
    font-size: 1.1vw;
    font-weight: bold;
}
#header .logo {
    display: block;
    width: 7vw;
    height: 5vh;
    position: absolute;
    top: 0; bottom: 0; margin: auto 25px;
}
#header .logo img{
    height: 100%;
}



/* Home 영역 */
.home {
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home .img-wrap{
    width: 35vw;
} 
.home .img-wrap div:nth-child(2) {
    margin-top: 10px;
}
.home .img-wrap div img {
    width: 100%;
    height: 100%;
}



/* About 영역 */
.about {
    width: 100%;
    position: relative;
}
.about .about-middle-wrap {
    width: 28vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8% auto;
}/* 여기 마진으로 높이값 조절하는거 반응형편하게 하고싶을때 어떻게 하면 좋을까?? 
vh나 vw를 넣으면 커질수록 커지고, 작을수록 작아짐! 
오 !!! %를쓰니까 크기가 달라져도 잘 맞게 들어오는군!! */
.about .about-middle-wrap div:nth-child(1) {
    width: 20vw;
    margin: 0 auto;
}
.about .about-middle-wrap div:nth-child(1) img {
    width: 100%;
}
.about .about-middle-wrap div:nth-child(2) {
    width: 25vw;
    display: flex;
    justify-content:space-between;
    margin-top: 30px;
}
.about .about-middle-wrap div:nth-child(2) p {
    display: block;
    width: 1.4vw;
}
.about .about-middle-wrap div:nth-child(2) p img {
    width: 100%;
    opacity: 0.8;
}
.about .about-middle-wrap div:nth-child(3) h1 {
    font-size: 1.5vw;
    text-align: center;
    margin-top: -10px;
}
.about .about-middle-wrap div:nth-child(3) .purple {color: #dfb800; font-weight: bold;}
.about .about-middle-wrap div:nth-child(3) .bold {font-weight: bold;}
.about .about-middle-wrap div:nth-child(3) .orange {color: #b115b3; font-weight: bold;}
.about .about-middle-wrap div:nth-child(4) {width: 30vw; margin-top: 30px;}
.about .about-middle-wrap div:nth-child(4) img {width: 100%;}



/* Web renewal 영역 */
/* 배경글자지정 - 근데 여기 자꾸 먹통됨...; 왤까ㅠㅠ */
.project01 {
    width: 100%;
}
.project01 .bg-txt {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    opacity: 0.5;
}
.project01 .bg-txt p {
    width: 7vw;
    padding: 70px;
}
.project01 .bg-txt p:nth-child(2) {
}
.project01 .bg-txt p img {
    width: 100%;
}
.project01 .bg-txt p:nth-child(2) img {
    opacity: 0.8;
}


/* 슬라이드 영역 */
.swiper-container {}
.swiper-container .swiper-wrapper {}

/* 여기부터 내가만든 클래스명들 */
.swiper-slide .sd {
    height: 100vh; width: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.swiper-slide .sd .logo {
    height: 2.5vw;
    padding: 20px;
    opacity: 0;
}
.swiper-slide-active .sd .logo {
    opacity: 1;
}
.swiper-slide .sd .logo img{
    height: 100%;
}
.swiper-slide .sd .mockup {
    position: relative;
}
.swiper-slide .sd .mockup_pc {
    width: 100%;
    height: 50vh;
    position: relative;
    left: 10%;
    top: 10%;
}
/* 맥북png */
.swiper-slide .sd .mockup_pc .imac{
    height: 50vh;
    position: relative;
    z-index: 2;
}
.swiper-slide .sd .mockup_pc .imac img{
    width: 80%;
}
/* 웹 시안 */
.swiper-slide .sd .mockup_pc .web-img{
    height: 30vh;
    width: 97%;
    overflow:hidden;
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);

}
.swiper-slide .sd .mockup_pc .web-img:hover{

}/* 여기 나중에 애니메이션넣기!!!!!!!!!!!!!!!!!!!! */
.swiper-slide .sd .mockup_pc .web-img img{
    width: 80%;
}
.swiper-slide .sd .mockup_mobile {
    height: 25vh;
    position: absolute;
    top: 65%;
    left:6%;
    z-index: 4;
    
}
/* 아이폰 png */
.swiper-slide .sd .mockup_mobile .imac{
    height: 25vh;
    position: relative;
    z-index: 2;
}
.swiper-slide .sd .mockup_mobile .imac img{height: 60%;}
/* 모바일 시안 */
.swiper-slide .sd .mockup_mobile .web-img{
    width: 78%;
    height: 13vh;
    border-radius: 0 0 8% 8%;
    overflow: hidden;
    position: absolute;
    top: 3%;
    left: 48.8%;
    transform: translateX(-50%);
}
.swiper-slide .sd .mockup_mobile .web-img img{width: 100%;}

/* 버튼들 */
.swiper-slide .sd .btns {
    width: 45vw;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    z-index: 4;
}
.swiper-slide-active .sd .btns{
    opacity: 1;;
}
.swiper-slide .sd .btns p {
    width: 12vw;
    height: 4vh;
    border: 1px solid #333;
    border-radius: 50px;
    position: relative;
    box-sizing: border-box;
    transition: all .5s;
    margin: 20px auto;
}
.swiper-slide .sd .btns p:hover {
    background-color: #333;
    color: white;
    border: none;
}
.swiper-slide .sd .btns p a {
    font-size: 1.1vw;
    text-align: center;
    width: 100%;
    padding: 5px;
    position: absolute;
    top: 50%; left: 50%; transform: translate(-50%,-50%);
}

.swiper-slide .sd .txt {opacity: 0;}
.swiper-slide-active .sd .txt {opacity: 1;}
.swiper-slide .sd .txt p {font-size: 1.1vw;}


/* 스와이퍼 슬라이드 css */
.swiper-container .swiper-wrapper .swiper-slide {
    opacity: .3;
    transition: opacity 1s;
}
.swiper-container .swiper-wrapper .swiper-slide-active {
    opacity: 1;
    z-index: 5;
}











/* 스와이퍼 액티브 css */
/* 맥북 이미지 */
.swiper-slide-active .sd .mockup_pc {
    width: 100%;
    height: 50vh;
    position: relative;
    left: 0%;
    top: 0%;
}
/* 맥북png */
.swiper-slide-active .sd .mockup_pc .imac{
    height: 50vh;
    position: relative;
    z-index: 2;
}
.swiper-slide-active .sd .mockup_pc .imac img{
    width: 100%;
}
/* 웹시안 */
.swiper-slide-active .sd .mockup_pc .web-img{
    height: 34vh;
    width: 100%;
    overflow:hidden;
    position: absolute;
    top: 3%;
}
.swiper-slide-active .sd .mockup_pc .web-img:hover{

}/* 여기 나중에 애니메이션넣기!!!!!!!!!!!!!!!!!!!! */
.swiper-slide-active .sd .mockup_pc .web-img img{
    width: 100%;
}
.swiper-slide-active .sd .mockup_mobile {
    height: 25vh;
    position: absolute;
    top: 50%;
    left:-5%;
    z-index: 4;
}
/* 아이폰 png */
.swiper-slide-active .sd .mockup_mobile .imac{
    height: 25vh;
    position: relative;
    z-index: 2;
}
.swiper-slide-active .sd .mockup_mobile .imac img{height: 100%;}
/* 모바일 시안 */
.swiper-slide-active .sd .mockup_mobile .web-img{
    width: 77%;
    height: 22vh;
    border-radius: 0 0 8% 8%;
    overflow: hidden;
    position: absolute;
    top: 5%;
    left: 48.8%;
    transform: translateX(-50%);
}











/* 스와이퍼 좌우버튼 */
.project-web .swiper-container .btns-wrap {
    
}
.project-web .swiper-container .swiper-prev,
.project-web .swiper-container .swiper-next {
  width: 32vw;
  height: 50vh;
  outline: none;
  /* border: 2px solid red; */
  position: absolute;
  /* Swiper Container 높이의 절반만큼 끌어올림 */
  /* 버튼 높이의 절반만큼 추가로 끌어올림 */
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items:center;
  transition: .4s;
}
.project-web .swiper-container .swiper-prev {
}
.project-web .swiper-container .swiper-next {
    right: 0;
}





/* mobile 영역 */
.project02 {
    position: relative;
}
.project02 .bg-txt {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;left: 0;
    opacity: 0.5;
    z-index: -1;
}
.project02 .bg-txt p {
    width: 7vw;
    padding: 70px;
}
.project02 .bg-txt p:nth-child(2) {
}
.project02 .bg-txt p img {
    width: 100%;

}
.project02 .bg-txt p:nth-child(1) img {transform: scale(1.2);}
.project02 .bg-txt p:nth-child(2) img {
    opacity: 0.8;
}


/* 오남 시작 */
.ohNam-wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .ohNam-wrap .logo {
    height: 7vh;
}
.ohNam-wrap .logo  img {height: 100%;} */
.ohNam-wrap .ohNam-info {
    width: 70vw;
    height: 50%;
    background-color: salmon;
    display: flex;
    justify-content: space-around;

}
.ohNam-wrap .ohNam-info>p {
    height: 100%;
    border: 2px solid red;
    box-sizing: border-box;
}
.ohNam-wrap .ohNam-info p img {height: 100%;}
.ohNam-wrap .ohNam-info p:nth-child(1) {}
.ohNam-wrap .ohNam-info p:nth-child(2) {}
.ohNam-wrap .ohNam-info p:nth-child(1) img {}
.ohNam-wrap .ohNam-info p:nth-child(2) img {}
.ohNam-wrap .ohNam-info .ohNam-txt {}
.ohNam-wrap .ohNam-info .ohNam-txt .info-txt {
    width: 100%;
    text-align: center;
    font-size: 1.1vw;
    margin: 20px auto;
}
.ohNam-wrap .ohNam-info .ohNam-txt .info-txt img {
    width: 60%;
    margin: 0 auto;
}
/* 버튼들 */
.ohNam-wrap .ohNam-info .ohNam-txt .btn {
    width: 50%;
    height: 9%;
    border: 1px solid #333;
    border-radius: 50px;
    box-sizing: border-box;
    transition: all .5s;
    z-index: 4;
    margin: 0 auto;
    position: relative;
}
.ohNam-wrap .ohNam-info .ohNam-txt .btn a {
    width: 100%;
    font-size: 1.1vw;
    text-align: center;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    padding: 5% 0;
}/* 패딩에 auto가 무슨 말이냐 방구냐?! 마진은 auto하면 남은 공간을 나눠갖는다 쳐! 패딩은 우짤건데?ㅋㅋㅋㅋㅋ생각하고 코딩하기!!!!ㅠㅠ */
.ohNam-wrap .ohNam-info .ohNam-txt .btn:hover {
    background-color: #333;
    color: white;
    border: none;
}
/* 왜 하버가 안되지??? */









/* grapic design 영역 */
.project03 {
    position: relative;
}
.project03 .bg-txt {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;left: 0;
    opacity: 0.5;
    z-index: -1;
}
.project03 .bg-txt p {
    width: 7vw;
    padding: 70px;
}
.project03 .bg-txt p:nth-child(2) {
}
.project03 .bg-txt p img {
    width: 100%;

}
.project03 .bg-txt p:nth-child(1) img {}
.project03 .bg-txt p:nth-child(2) img {
    opacity: 0.8;
}


/* 갤러리 영역 */
.project03 .gallery-container {
    width: 100%;
    height: 100vh;
    position: relative;
}
.project03 .gallery-container .gallery {
    width: 45%;
    margin:  0 auto;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}
.project03 .gallery-container .gallery li {

}
.project03 .gallery-container .gallery li a {
    display: block;
}
.project03 .gallery-container .gallery li a img {
    width: 100%;
}

.project03 .gallery-container .gallery li:nth-child(1) a {
    width: 32%;
}
.project03 .gallery-container .gallery li:nth-child(2) a {
    width: 66%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}
.project03 .gallery-container .gallery li:nth-child(3) a {
    width: 32%;
    position: absolute;
    right: 34%;
    top: 0;
    padding-top: 34%;
}
.project03 .gallery-container .gallery li:nth-child(4) a {
    width: 32%;
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 34%;
}
.project03 .gallery-container .gallery li:nth-child(5) a {
    width: 32%;
    padding-top: 2%;
}
.project03 .gallery-container .gallery li:nth-child(6) a {
    width: 32%;
    position: absolute;
    bottom: 0;
    right: 34%;
}
.project03 .gallery-container .gallery li:nth-child(7) a {
    width: 32%;
    position: absolute;
    right: 0;
    bottom: 0;
}
    .gallery li img:hover{
        opacity: .75;
    }


/* 배경깔리는 검정 cover */
#lightbox-overlay {
    opacity: 0;
    pointer-events: none;/* 링크 있으면 링크 작동x, 링크가 없어도 링크를 막지 않도록 */
    position: fixed;
    width: 100%; height: 100%;
    top: 0; left: 0;
    background-color: rgba(29,31,33,.95);
    transition: opacity .3s ease-in;

}
    #lightbox-overlay.visible{
        opacity: 1;
        pointer-events: auto;
    }
#lightbox-overlay p {
    height: 70%;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}
#lightbox-overlay p img {
    height: 100%;
}









/* contact 영역 */
.contact {
    position: relative;
    width: 100%;
}
.contact .contact-wrap {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contact .contact-wrap>p {}
.contact .contact-wrap>p img{}
.contact .contact-wrap>p:nth-child(1) {
    padding-top: 3%;
    width: 60vw;
}
.contact .contact-wrap>p:nth-child(1) img {width: 100%;}
.contact .contact-wrap>p:nth-child(2) {
    width: 5vw;
    margin: 20px;
}
.contact .contact-wrap>p:nth-child(2) img {width: 100%;}




.contact .contact-wrap .btns {
    width: 30%;
    display: flex;
    justify-content: space-between;
}
.contact .contact-wrap .btns .btn_01 {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.contact .contact-wrap .btns .btn_01 .email_btn {
    border : 1px solid #333;
    border-radius: 50px;
    width: 100%;
    box-sizing: border-box;
    
}
.contact .contact-wrap .btns .btn_01 .email_btn a {
    display: block;
    text-align: center;
    padding: 2%;
    font-size: 1.1vw;
    border-radius: 50px;
    transition: all .5s;
}
.contact .contact-wrap .btns .btn_01 .email_btn a:hover {
    background-color: #333;
    color: white;
    border: none;
}

.contact .contact-wrap .btns .btn_01 .email_balloon {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* 여기 이따 애니메이션을 둥둥 효과 */
.contact .contact-wrap .btns .btn_01 .email_balloon .triangle {
    width: 3%;
    padding-top: 3%;
}
.contact .contact-wrap .btns .btn_01 .email_balloon .triangle img {width: 100%;}
.contact .contact-wrap .btns .btn_01 .email_balloon .email_url {
    background-color: #fbd20c;
    border-radius: 6px;
    box-sizing: border-box;
    width: 120%;
}
.contact .contact-wrap .btns .btn_01 .email_balloon .email_url a {
    display: block;
    text-align: center;
    padding: 2%;
    font-size: 0.8vw;
}

.contact .contact-wrap .btns .btn_02 {
    width: 45%;
}
.contact .contact-wrap .btns .btn_02>p {
    border : 1px solid #333;
    border-radius: 50px;
}
.contact .contact-wrap .btns .btn_02>p a {
    display: block;
    text-align: center;
    padding: 2%;
    font-size: 1.1vw;
    border-radius: 50px;
    transition: all .5s;
}
.contact .contact-wrap .btns .btn_02>p a:hover {
    background-color: #333;
    color: white;
    border: none;
}





.contact .footer {
    width: 100%;
    height: 20%;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact .footer>p {
    padding: 0.5%;
    font-size:0.8vw;
}