#mainSlider {
  width: 100%; 
  
}

#mainSlider .slider {
  width: 100%;
  margin: 0 auto;
  position: relative;
  /* margin-top: -155px; */
}

#mainSlider .slider img {
  height: 100vh;
  margin: 0 auto;
}

#mainSlider>button{
  border: 0;
  font-size: 0;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  width: 40px; height: 40px;
}
.slick-prev{
  position: absolute; top: 50%; left: 70px;
  transform: translateY(-50%);
  z-index: 10;
  transform: rotate(-135deg);
}
.slick-next{
  position: absolute; top: 50%; right: 70px;
  transform: translateY(-50%);
  transform: rotate(45deg);
}
.slick-dots{
  position: absolute;
  bottom: 40px; left: 50%; transform: translateX(-50%);
}
.slick-dots li{
  display:inline-block;
  margin: 0 10px;
}
.slick-dots li button{
  width: 35px; height: 4px;
  background-color: #444;
  border: none;
  font-size: 0;
}
.slick-dots li.slick-active button{
  background-color: #fff;
  width: 54px;height: 4px;
}




#mainSlider .slider .btn{
  width: 234px; height: 48px;
  border: 1px solid #fff;
  text-align: center;
  position: absolute;
  left: 50%; bottom:310px;
  transform: translateX(-50%);
  transition: all 0.5s;
  box-sizing: border-box;
  transition: all 0.3s;
}
#mainSlider .slider .btn a{
  display: block;
  width: 234px; height: 48px;
  color: #fff;
  font-size: 18px;
  padding: 15px 0;
}

